
	<!-- Making stripe menu -->
	<nav class="st-nav navbar main-nav navigation fixed-top dark-link">
		<div class="container">
			<ul class="st-nav-menu nav navbar-nav">
				<li class="st-nav-section nav-item">
					<a href="/" class="navbar-brand">
						<img src="img/logo.png" alt="Dashcore" class="logo logo-sticky d-block d-md-none">
						<img src="img/logo-light.png" alt="Dashcore" class="logo d-none d-md-block">
					</a>
				</li>
				<li class="st-nav-section st-nav-primary nav-item">
					<a class="st-root-link nav-link" href="/">Home </a>
					<!-- <a class="st-root-link nav-link" href="/pricing">Harga </a>
					<a class="st-root-link nav-link" href="/enterprise">Enterprise </a> -->
					<a class="st-root-link nav-link" href="/contact-us">Hubungi Kami </a>
				</li>
				<li class="st-nav-section st-nav-secondary nav-item">
					<a class="btn btn-rounded btn-outline mr-3 px-3" href="https://web.linikerja.id" target="_blank">
						<i class="fas fa-sign-in-alt d-none d-md-inline mr-md-0 mr-lg-2"></i>
						<span class="d-md-none d-lg-inline">Login</span>
					</a>
					<a class="btn btn-rounded btn-solid px-3" href="https://web.linikerja.id/register" target="_blank">
						<i class="fas fa-user-plus d-none d-md-inline mr-md-0 mr-lg-2"></i>
						<span class="d-md-none d-lg-inline">Daftar</span>
					</a>
				</li>
				<li class="st-nav-section st-nav-mobile nav-item">
					<button class="st-root-link navbar-toggler" type="button">
						<span class="icon-bar bg-3"></span>
						<span class="icon-bar bg-3"></span>
						<span class="icon-bar bg-3"></span>
					</button>
					<div class="st-popup">
						<div class="st-popup-container">
							<a class="st-popup-close-button">Close</a>
							<div class="st-dropdown-content-group">
								<h4 class="text-uppercase regular">Halaman</h4>
								<a class="regular color-2" href="/pricing">
									Harga </a>
								<a class="regular color-2" href="/enterprise">
									Enterprise </a>
								<a class="regular color-2" href="/contact-us">
									Hubungi Kami </a>
							</div>
							<div class="st-dropdown-content-group bg-6 b-t">
								<a href="https://web.linikerja.id">Login
									<i class="fas fa-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="st-dropdown-root">
			<div class="st-dropdown-bg">
				<div class="st-alt-bg"></div>
			</div>
			<div class="st-dropdown-arrow"></div>
			<div class="st-dropdown-container">
			</div>
		</div>
	</nav>