{{ define "main" }}
<main>
  <div class="container-fluid">
    <div class="fullscreen row align-items-center">
      <div class="col-md-4 mx-md-auto text-center">
        <div class="center-xy color-6 alpha-5 bold" style="font-size: 25rem; z-index: -1;">404</div>
        <h2 class="bold text-danger mt-5">Page is not found!.</h2>
        <p class="color-2">Sorry, The page you are looking for is not found.</p>
        <a href="{{ "/" | relURL }}" class="btn btn-4 btn-rounded mt-5 py-3">
          <i class="icon fas fa-long-arrow-alt-left"></i> Back to Home</a>
      </div>
    </div>
  </div>
</main>

{{ end }}
