{{ define "main" }}

<!--[if lt IE 8]>
  <p class="browserupgrade">
    You are using an <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your
    experience.
  </p>
<![endif]-->

<header class="header section social-media-heading launching-countdown">
    <img src="/img/linikerja/launching.svg" class="social-bg-shape position-fixed" alt="...">
    <div class="container-xs-height full-height xs-full-width relative z-index-10">
        <div class="col-xs-height col-middle text-left">
          <div class="container xs-m-b-25 xs-m-t-35 xs-p-b-20">
              <div class="row">
                <div class="col-md-4 sm-m-b-30 sm-p-b-30">
                  <!-- BEGIN SLIDER -->
                  <div class="">
                    <div class="">
                      <!-- BEGIN SLIDE -->
                      <div class=" bg-transparent">
                        <h2 class="m-t-5 light text-left text-dark" style="">Pantau target bisnis dengan mudah <br>di <span class="color-2 bold">LiniKerja</span>
                         </h2>
                      </div>
                      <!-- END SLIDE -->
                    </div>
                    <!-- Add Navigation -->
                  </div>
                  <div class="p-t-20 swiper-pagination swiper-pagination-light"></div>
                </div>
                <div class="col-md-8 sm-m-t-30 xs-no-border b-l b-transparent-dark count-down xs-m-t-30" data-pages-countdown-date="2020-07-29">
                  <div class="row">
                    <div class="col-sm-4 xs-p-t-20 xs-p-b-20">
                      <div class="pull-center-inner">
                        <div class="pull-right">
                          <h5 class="block-title text-dark no-margin pl-2">Hari</h5>
                          <p class="text-right text-dark"></p>
                        </div>
                        <h1 class="p-l-15 block-title pull-left no-margin text-dark day">00</h1>
                      </div>
                    </div>
                    <div class="col-sm-4 xs-b-t xs-p-t-20 xs-p-b-20 b-l b-transparent-dark">
                      <div class="pull-center-inner">
                        <div class="pull-right">
                          <h5 class="block-title text-dark no-margin pl-2">Jam</h5>
                          <p class="text-right text-dark"></p>
                        </div>
                        <h1 class="p-l-15 block-title pull-left no-margin text-dark hour">00</h1>
                      </div>
                    </div>
                    <div class="col-sm-4 xs-b-t xs-p-t-20 xs-p-b-20 b-l b-transparent-dark">
                      <div class="pull-center-inner">
                        <div class="pull-right">
                          <h5 class="block-title text-dark no-margin pl-2">Menit</h5>
                          <p class="text-right text-dark"></p>
                        </div>
                        <h1 class="p-l-15 block-title pull-left no-margin text-dark minutes">00</h1>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="m-t-40 text-right">
                      <p class=" small-text hint-text text-dark">Jadilah yang pertama untuk mencoba LiniKerja ketika launching</p>
                      <!-- <a target="_blank" href="https://bit.ly/eflyer-linikerja" class="btn btn-2 btn-rounded px-3">Unduh E-Flyer</a> -->
                      <a class="btn color-1 btn-3 btn-rounded px-3 typeform-popup">Unduh E-Flyer</a>
                    </div>
                  </div>
                </div>

              </div>
          </div>
        </div>
      </div>
</header>

{{ end }}